@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* custom className */
@layer components {
  .main {
    @apply grid grid-cols-5 grid-rows-1 gap-8 p-4 pt-8;
  }

  .div1 {
    @apply place-items-stretch flex flex-row content-center;
  }

  .div2 {
    @apply place-items-stretch flex justify-around;
  }
}